.fechar {
    position: relative;
}
.fechar-wrapper {
    width: 93px;
    border-radius: 10px;
    border: 1px solid #0c2454;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
}
.salvar {
    position: relative;
    font-weight: 500;
}
.salvar-wrapper {
    width: 93px;
    border-radius: 10px;
    background-color: #0c2454;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 30px;
    box-sizing: border-box;
    color: #fff;
}
.bottom {
    position: absolute;
    top: 703px;
    left: calc(50% - 500px);
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    width: 1000px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    gap: 20px;
}
.opes {
    position: absolute;
    top: 3px;
    left: 0px;
}
.adicionar-wrapper {
    position: absolute;
    top: 0px;
    left: 76px;
    border-radius: 10px;
    border: 1px solid #0c2454;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
    color: #0c2454;
}
.opes-parent {
    position: absolute;
    top: 482px;
    left: 50px;
    width: 147px;
    height: 26px;
}
.nome {
    flex: 1;
    border-radius: 10px;
    background-color: #f7f7f8;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
}
.sort-down-5-icon {
    width: 20px;
    position: relative;
    height: 20px;
    object-fit: cover;
}
.nome2 {
    align-self: stretch;
    flex: 1;
    border-radius: 10px;
    background-color: #f7f7f8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.nome-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 11px;
}
.nome3 {
    align-self: stretch;
    border-radius: 10px;
    background-color: #f7f7f8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.avaliao {
    align-self: stretch;
    flex: 1;
    border-radius: 10px;
    background-color: #f7f7f8;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 20px;
}
.frame-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    height: 449px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 30px;
    box-sizing: border-box;
    gap: 15px;
    color: #979797;
}
.group-parent {
    position: absolute;
    top: 161px;
    left: 0px;
    width: 1000px;
    height: 542px;
    text-align: left;
    color: #000;
}
.adicionar-fila1 {
    position: absolute;
    top: 31px;
    left: 40px;
}
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1000px;
    height: 146px;
    text-align: left;
    font-size: 32px;
    color: #0c2c54;
    font-family: 'Fira Sans';
}
.event {
    border-radius: 10px;
    background-color: #0c2454;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}
.horrios-de-atendimento {
    position: relative;
    opacity: 0.7;
}
.reminder {
    border-radius: 10px;
    background-color: #f2f2fb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: #030229;
}
.seleo {
    position: absolute;
    top: 97px;
    left: 28px;
    border-radius: 10px;
    background-color: rgba(12, 36, 84, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    gap: 35px;
    color: #fff;
}
.adicionar-fila {
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    height: 783px;
    overflow-y: auto;
    text-align: center;
    font-size: 14px;
    color: #0c2454;
    font-family: Nunito;
}

