.blank-line {
    margin: 0;
}
.adicionar-usurio {
    position: absolute;
    top: 18px;
    left: 21px;
    font-size: 32px;
    font-family: 'Fira Sans';
    color: #0c2c54;
    text-align: left;
    display: inline-block;
    width: 265px;
    height: 38px;
}
.salvar {
    position: relative;
    font-weight: 500;
}
.salvar-wrapper {
    position: absolute;
    top: 617px;
    left: 1160px;
    border-radius: 10px;
    background-color: #0c2454;
    width: 93px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 30px;
    box-sizing: border-box;
}
.fechar {
    position: relative;
}
.fechar-wrapper {
    position: absolute;
    top: 617px;
    left: 1047px;
    border-radius: 10px;
    border: 1px solid #0c2454;
    box-sizing: border-box;
    width: 93px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    color: #0c2454;
}
.nome {
    flex: 1;
    border-radius: 10px;
    background-color: #f7f7f8;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
}
.senha {
    width: 40px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.nome-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
}
.email {
    width: 39px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.nome3 {
    width: 287px;
    border-radius: 10px;
    background-color: #f7f7f8;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
}
.sort-down-5-icon {
    width: 20px;
    position: relative;
    height: 20px;
    object-fit: cover;
}
.nome4 {
    width: 143px;
    border-radius: 10px;
    background-color: #f7f7f8;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px 10px 10px;
    box-sizing: border-box;
    gap: 60px;
}
.nome-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.nome5 {
    align-self: stretch;
    border-radius: 10px;
    background-color: #f7f7f8;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
    gap: 347px;
}
.conexo-padro {
    width: 130px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.nome6 {
    align-self: stretch;
    border-radius: 10px;
    background-color: #f7f7f8;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
    gap: 258px;
}
.frame-parent {
    position: absolute;
    top: 83px;
    left: 21px;
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 19px;
    text-align: left;
    color: #979797;
}
.salvar-container {
    position: absolute;
    top: 426px;
    left: 368px;
    border-radius: 10px;
    background-color: #0c2454;
    width: 93px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 30px;
    box-sizing: border-box;
}
.fechar-container {
    position: absolute;
    top: 426px;
    left: 253px;
    border-radius: 10px;
    border: 1px solid #0c2454;
    box-sizing: border-box;
    width: 93px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    color: #0c2454;
}
.usurios-add {
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    height: 482px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-family: Nunito;
}

