
body {
    margin: 0;
    line-height: normal;
}


.whatsapp {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 178.5px;
}
.more-1-icon {
    position: absolute;
    top: 166px;
    left: 472px;
    width: 9px;
    height: 33px;
    object-fit: cover;
}
.settings-1-icon {
    position: absolute;
    top: 203px;
    left: 370px;
    width: 28px;
    height: 28px;
    object-fit: cover;
}
.abra-o-whatsapp {
    margin: 0;
}
.toque-em-mais {
    margin: 0;
    white-space: pre-wrap;
}
.abra-o-whatsapp-container {
    position: absolute;
    top: 98px;
    left: 0px;
    font-size: 28px;
    color: #000;
    display: inline-block;
    width: 547.1px;
}
.whatsapp-parent {
    width: 547.1px;
    position: relative;
    height: 438px;
}
.qr-code-qr-1-icon {
    width: 512px;
    position: relative;
    height: 512px;
    object-fit: cover;
}
.qr-code-child {
    width: 40px;
    position: relative;
    height: 38.7px;
}
.qr-code {
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    text-align: left;
    font-size: 32px;
    color: #0c2c54;
    font-family: 'Fira Sans';
}

