
body {
    margin: 0;
    line-height: normal;
}

.popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
}

.integraes1 {
    position: absolute;
    top: 30px;
    left: 140px;
    font-size: 24px;
    font-weight: 600;
    color: #0c2454;
}
.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: #fff;
    width: 1200px;
    height: 59.3px;
}
.dialogflow {
    position: absolute;
    top: 8.05px;
    left: 35px;
    display: inline-block;
    width: 73px;
    height: 19.1px;
}
.image-52-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 28px;
    height: 35.9px;
    object-fit: cover;
}
.name {
    position: absolute;
    top: 11.06px;
    left: 17px;
    width: 108px;
    height: 35.9px;
    color: #030229;
}
.edit-icon {
    width: 15px;
    position: relative;
    height: 15px;
}
.delete-icon {
    width: 15px;
    position: relative;
    height: 16.7px;
}
.edit-parent {
    position: absolute;
    top: 21.73px;
    left: 1107.15px;
    width: 53.5px;
    height: 16.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nome-1 {
    position: absolute;
    top: 18px;
    left: 394px;
}
.div {
    position: absolute;
    top: 18px;
    left: 772px;
}
.tag-1 {
    width: 1200px;
    position: relative;
    height: 59.3px;
}
.bg1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: #fff;
    width: 1200px;
    height: 58.9px;
}
.edit-group {
    position: absolute;
    top: 21.59px;
    left: 1107.15px;
    width: 53.5px;
    height: 16.4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.n8n {
    position: absolute;
    top: 0px;
    left: 35px;
}
.image-53-icon {
    position: absolute;
    top: 1.64px;
    left: 0px;
    width: 31.2px;
    height: 16.3px;
    object-fit: cover;
}
.n8n-parent {
    position: absolute;
    top: 19.75px;
    left: 17px;
    width: 65px;
    height: 19px;
    color: #030229;
}
.nome-2 {
    position: absolute;
    top: 17.75px;
    left: 394px;
}
.div1 {
    position: absolute;
    top: 17.75px;
    left: 772px;
}
.tag-2 {
    width: 1200px;
    position: relative;
    height: 58.9px;
}
.bg2 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: #fff;
    width: 1200px;
    height: 57.6px;
}
.edit-container {
    position: absolute;
    top: 21.12px;
    left: 1107.15px;
    width: 53.5px;
    height: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.webhooks {
    position: absolute;
    top: 7.51px;
    left: 35px;
}
.image-54-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30.7px;
    height: 30px;
    object-fit: cover;
}
.webhooks-parent {
    position: absolute;
    top: 13.86px;
    left: 17px;
    width: 106px;
    height: 30px;
    color: #030229;
}
.nome-3 {
    position: absolute;
    top: 17.86px;
    left: 394px;
}
.div2 {
    position: absolute;
    top: 17.86px;
    left: 772px;
}
.tag-3 {
    width: 1200px;
    position: relative;
    height: 57.6px;
}
.bg3 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: #fff;
    width: 1200px;
    height: 58px;
}
.frame-div {
    position: absolute;
    top: 21.27px;
    left: 1107.15px;
    width: 53.5px;
    height: 16.1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.webhooks1 {
    position: absolute;
    top: 3.82px;
    left: 34px;
}
.image-55-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 28px;
    height: 28px;
    object-fit: cover;
}
.webhooks-group {
    position: absolute;
    top: 15.46px;
    left: 18px;
    width: 105px;
    height: 28px;
    color: #030229;
}
.nome-4 {
    position: absolute;
    top: 18.28px;
    left: 394px;
}
.div3 {
    position: absolute;
    top: 18.28px;
    left: 772px;
}
.tag-4 {
    width: 1200px;
    position: relative;
    height: 58px;
}
.name1 {
    position: absolute;
    top: 11.32px;
    left: 17px;
    width: 108px;
    height: 35.9px;
    color: #030229;
}
.nome-5 {
    position: absolute;
    top: 18.26px;
    left: 394px;
    display: inline-block;
    width: 50px;
    height: 19px;
}
.div4 {
    position: absolute;
    top: 18.26px;
    left: 772px;
}
.tag-5 {
    align-self: stretch;
    flex: 1;
    position: relative;
}
.edit-parent2 {
    position: absolute;
    top: 21.72px;
    left: 1107.15px;
    width: 53.5px;
    height: 16.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.n8n1 {
    position: absolute;
    top: 0px;
    left: 35px;
    display: inline-block;
    width: 30px;
    height: 19px;
}
.n8n-group {
    position: absolute;
    top: 20.01px;
    left: 17px;
    width: 65px;
    height: 19px;
    color: #030229;
}
.nome-6 {
    position: absolute;
    top: 18.01px;
    left: 394px;
    display: inline-block;
    width: 50px;
    height: 19px;
}
.webhooks2 {
    position: absolute;
    top: 7.51px;
    left: 35px;
    display: inline-block;
    width: 71px;
    height: 19px;
}
.webhooks-container {
    position: absolute;
    top: 13.75px;
    left: 17px;
    width: 106px;
    height: 30px;
    color: #030229;
}
.nome-7 {
    position: absolute;
    top: 17.75px;
    left: 394px;
    display: inline-block;
    width: 50px;
    height: 19px;
}
.webhooks3 {
    position: absolute;
    top: 3.83px;
    left: 34px;
    display: inline-block;
    width: 71px;
    height: 19px;
}
.group-div {
    position: absolute;
    top: 15.68px;
    left: 18px;
    width: 105px;
    height: 28px;
    color: #030229;
}
.nome-8 {
    position: absolute;
    top: 17.5px;
    left: 394px;
    display: inline-block;
    width: 50px;
    height: 19px;
}
.div7 {
    position: absolute;
    top: 17.5px;
    left: 772px;
}
.nome-9 {
    position: absolute;
    top: 18.25px;
    left: 394px;
    display: inline-block;
    width: 50px;
    height: 19px;
}
.div8 {
    position: absolute;
    top: 18.25px;
    left: 772px;
}
.tag-1-parent {
    position: absolute;
    top: 154px;
    left: 158px;
    width: 1200px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    font-size: 14px;
    color: #000;
}
.tipo {
    position: relative;
    opacity: 0.7;
}
.arrow-down-2 {
    width: 4.4px;
    position: relative;
    height: 5px;
    opacity: 0.7;
}
.arrow-down-4 {
    width: 6.1px;
    position: relative;
    height: 5px;
    opacity: 0.7;
}
.phone-number {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.table-heading {
    position: absolute;
    top: 129px;
    left: 166px;
    width: 1186px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    box-sizing: border-box;
}
.vector-icon {
    width: 9.9px;
    position: relative;
    height: 10px;
}
.adicionar-projeto {
    position: relative;
}
.button {
    position: absolute;
    top: 25px;
    left: 1168px;
    border-radius: 10px;
    background-color: #0c2454;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    box-sizing: border-box;
    gap: 10px;
    font-size: 16px;
    color: #fff;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 230px;
    height: 40px;
}
.search-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 230px;
    height: 40px;
}
.search-icon {
    position: relative;
    width: 12px;
    height: 12px;
    opacity: 0.5;
}
.pesquisar {
    position: absolute;
    top: 0px;
    left: 0px;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1), -1px 0 0 rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1);
    opacity: 0.7;
}
.searcha-and-icon {
    position: absolute;
    height: 40%;
    width: 82.61%;
    top: 30%;
    right: 8.7%;
    bottom: 30%;
    left: 8.7%;
}
.search {
    width: 230px;
    position: relative;
    height: 40px;
}
.search-wrapper {
    position: absolute;
    top: 25px;
    left: 915px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.profile-photo-icon {
    width: 45px;
    position: relative;
    height: 43px;
    object-fit: cover;
}
.log-out {
    position: absolute;
    top: 1150.99px;
    left: 0px;
    height: 55.3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.category-icon {
    width: 20px;
    position: relative;
    height: 20px;
}
.dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.iconlyboldchart {
    width: 24px;
    position: relative;
    height: 24px;
    object-fit: cover;
    opacity: 0.4;
}
.kanban-1-icon {
    width: 24px;
    position: relative;
    height: 24px;
    object-fit: cover;
}
.contatos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.icones {
    position: absolute;
    top: 82.31px;
    left: 9px;
    height: 1003.1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.down-bluish-gray-1-icon {
    position: absolute;
    top: 0px;
    left: 3px;
    width: 36px;
    height: 46.3px;
    object-fit: contain;
}
.menu-name {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45px;
    height: 1206.3px;
}
.menu {
    position: absolute;
    top: 78px;
    left: 19px;
    width: 45px;
    height: 1206.3px;
}
.barra-letal-child {
    position: absolute;
    top: 327px;
    left: 55px;
    border-radius: 50%;
    background-color: #d11a2a;
    width: 5px;
    height: 5px;
    opacity: 0.5;
}
.barra-letal-item {
    position: absolute;
    top: 143px;
    left: 0px;
    border-radius: 0px 5px 5px 0px;
    background: linear-gradient(90deg, #34d3a3, rgba(52, 211, 163, 0));
    width: 80px;
    height: 48px;
    opacity: 0.2;
}
.image-49-icon {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 56px;
    height: 65px;
    object-fit: cover;
}
.barra-letal {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 80px;
    height: 900px;
    overflow-y: auto;
}
.integraes {
    width: 100%;
    position: relative;
    background-color: #dce5ed;
    height: 900px;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    color: #030229;
    font-family: Nunito;
}


.blank-line {
    margin: 0;
}
.adicionar-projeto1 {
    position: absolute;
    top: 29px;
    left: 49px;
    font-size: 32px;
    font-family: 'Fira Sans';
    color: #0c2c54;
    text-align: left;
    display: inline-block;
    width: 261px;
    height: 38px;
}
.sort-down-5-icon {
    width: 20px;
    position: relative;
    height: 20px;
    object-fit: cover;
}
.nome1 {
    align-self: stretch;
    flex: 1;
    border-radius: 10px;
    background-color: #f7f7f8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.nome2 {
    flex: 1;
    border-radius: 10px;
    background-color: #f7f7f8;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
}
.nome-parent {
    width: 1206px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 11px;
}
.linguagem {
    position: relative;
}
.nome6 {
    width: 1206px;
    border-radius: 10px;
    background-color: #f7f7f8;
    height: 181px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
}
.frame-parent {
    position: absolute;
    top: 122px;
    left: 0px;
    width: 1300px;
    height: 336px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    color: #979797;
}
.salvar {
    position: relative;
    font-weight: 500;
}
.salvar-wrapper {
    position: absolute;
    top: 515px;
    left: 1160px;
    border-radius: 10px;
    background-color: #0c2454;
    width: 93px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 30px;
    box-sizing: border-box;
    color: #fff;
}
.fechar-wrapper {
    position: absolute;
    top: 515px;
    left: 1047px;
    border-radius: 10px;
    border: 1px solid #0c2454;
    box-sizing: border-box;
    width: 93px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
}
.anexar-arquivo {
    position: absolute;
    top: 515px;
    left: 901px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #0c2454;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}
.integraes-add {
    width: 1300px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    height: 584px;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
    font-size: 14px;
    color: #0c2454;
    font-family: Nunito;
}

.blank-line {
    margin: 0;
}
.adicionar-projeto1 {
    position: absolute;
    top: 29px;
    left: 49px;
    font-size: 32px;
    font-family: 'Fira Sans';
    color: #0c2c54;
    text-align: left;
    display: inline-block;
    width: 261px;
    height: 38px;
}
.sort-down-5-icon {
    width: 20px;
    position: relative;
    height: 20px;
    object-fit: cover;
}
.nome1 {
    align-self: stretch;
    flex: 1;
    border-radius: 10px;
    background-color: #f7f7f8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.nome2 {
    flex: 1;
    border-radius: 10px;
    background-color: #f7f7f8;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
}
.nome-parent {
    width: 1206px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 11px;
}
.linguagem {
    position: relative;
}
.nome6 {
    width: 1206px;
    border-radius: 10px;
    background-color: #f7f7f8;
    height: 181px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
}
.frame-parent {
    position: absolute;
    top: 122px;
    left: 0px;
    width: 1300px;
    height: 336px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    color: #979797;
}
.salvar {
    position: relative;
    font-weight: 500;
}
.salvar-wrapper {
    position: absolute;
    top: 515px;
    left: 1160px;
    border-radius: 10px;
    background-color: #0c2454;
    width: 93px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 30px;
    box-sizing: border-box;
    color: #fff;
}
.fechar-wrapper {
    position: absolute;
    top: 515px;
    left: 1047px;
    border-radius: 10px;
    border: 1px solid #0c2454;
    box-sizing: border-box;
    width: 93px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
}
.anexar-arquivo {
    position: absolute;
    top: 515px;
    left: 901px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #0c2454;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}
.integraes-add {
    width: 1300px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    height: 584px;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
    font-size: 14px;
    color: #0c2454;
    font-family: Nunito;
}

