.adicionar-prompt {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.adicionar-prompt .div {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #0000001a;
  height: 744px;
  position: relative;
  width: 1300px;
}

.adicionar-prompt .frame {
  align-items: center;
  background-color: #0c2454;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  left: 1162px;
  padding: 11px 30px;
  position: absolute;
  top: 684px;
  width: 93px;
}

.adicionar-prompt .text-wrapper {
  color: #ffffff;
  font-family: "Nunito-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -3.5px;
  margin-right: -3.5px;
  margin-top: -1.5px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.adicionar-prompt .div-wrapper {
  align-items: center;
  border: 1px solid;
  border-color: #0c2454;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  left: 1049px;
  padding: 10px 25px;
  position: absolute;
  top: 684px;
  width: 93px;
}

.adicionar-prompt .text-wrapper-2 {
  color: #0c2454;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.adicionar-prompt .anexar-arquivo {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #0c2454;
  border-radius: 10px;
  display: inline-flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  left: 903px;
  padding: 10px 15px;
  position: absolute;
  top: 684px;
}

.adicionar-prompt .text-wrapper-3 {
  color: #0c2c54;
  font-family: "Fira Sans-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 49px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
  white-space: nowrap;
  width: 261px;
}

.adicionar-prompt .frame-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 559px;
  justify-content: space-between;
  left: 49px;
  position: absolute;
  top: 100px;
  width: 1206px;
}

.adicionar-prompt .nome {
  align-items: center;
  align-self: stretch;
  background-color: #f7f7f8;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 61px;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

.adicionar-prompt .text-wrapper-4 {
  color: #979797;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.adicionar-prompt .nome-2 {
  align-items: center;
  align-self: stretch;
  background-color: #f7f7f8;
  border-radius: 10px;
  display: flex;
  height: 61px;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

.adicionar-prompt .img {
  height: 28px;
  object-fit: cover;
  position: relative;
  width: 28px;
}

.adicionar-prompt .nome-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #f7f7f8;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  height: 181px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.adicionar-prompt .text-wrapper-5 {
  color: #979797;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.adicionar-prompt .group {
  height: 85.4px;
  margin-right: -2px;
  position: relative;
  width: 1208px;
}

.adicionar-prompt .sort-down-wrapper {
  align-items: center;
  background-color: #f7f7f8;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 61px;
  justify-content: flex-end;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  top: 24px;
  width: 1206px;
}

.adicionar-prompt .text-wrapper-6 {
  color: #0c2454;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.adicionar-prompt .frame-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 11px;
  position: relative;
  width: 100%;
}

.adicionar-prompt .nome-4 {
  align-items: center;
  align-self: stretch;
  background-color: #f7f7f8;
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
}

.adicionar-prompt .sort-down {
  height: 20px;
  object-fit: cover;
  position: relative;
  width: 20px;
}

.adicionar-prompt .nome-5 {
  align-items: center;
  background-color: #f7f7f8;
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  height: 61px;
  padding: 10px 20px;
  position: relative;
}

.adicionar-prompt .nome-6 {
  align-items: center;
  align-self: stretch;
  background-color: #f7f7f8;
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  padding: 10px 20px;
  position: relative;
}
