.informativos {
  background-color: #dce5ed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.informativos .div {
  background-color: #dce5ed;
  height: 900px;
  position: relative;
  width: 1440px;
}

.informativos .frame-wrapper {
  align-items: flex-end;
  display: flex;
  gap: 22px;
  justify-content: space-around;
  left: 80px;
  padding: 0px 16px;
  position: absolute;
  top: 160px;
  width: 1360px;
}

.informativos .frame-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 650px;
  position: relative;
  width: 1200px;
}

.informativos .tag {
  height: 58.89px;
  margin-right: -2px;
  position: relative;
  width: 1202px;
}

.informativos .overlap-group {
  background-color: #ffffff;
  border-radius: 10px;
  height: 59px;
  position: relative;
  width: 1200px;
}

.informativos .text-wrapper {
  color: var(--text);
  font-family: "Nunito-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
  width: 83px;
}

.informativos .frame-407 {
  left: 1107px !important;
  position: absolute !important;
  top: 22px !important;
}

.informativos .frame-instance {
  margin-bottom: -0.15px !important;
  margin-top: -0.15px !important;
}

.informativos .text-wrapper-2 {
  color: var(--text);
  font-family: "Nunito-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
}

.informativos .text-wrapper-3 {
  color: #0c2454;
  font-family: "Nunito-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 108px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}

.informativos .button {
  all: unset;
  align-items: center;
  background-color: #0c2454;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  gap: 17px;
  height: 40px;
  justify-content: center;
  left: 1156px;
  padding: 10px 20px;
  position: absolute;
  top: 33px;
  width: 206px;
}

.informativos .vector {
  height: 10px;
  margin-left: -10px;
  position: relative;
  width: 10px;
}

.informativos .text-wrapper-4 {
  color: #ffffff;
  font-family: "Nunito-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -10px;
  margin-top: -2px;
  position: relative;
  width: 159px;
}

.informativos .search-wrapper {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  height: 44px;
  justify-content: flex-end;
  left: 909px;
  position: absolute;
  top: 31px;
}

.informativos .search {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #0000001a;
  border-radius: 10px;
  height: 40px;
  position: relative;
  width: 230px;
}

.informativos .searcha-and-icon {
  height: 16px;
  left: 19px;
  position: relative;
  top: 11px;
  width: 192px;
}

.informativos .img {
  height: 13px;
  left: 178px;
  position: absolute;
  top: 2px;
  width: 13px;
}

.informativos .text-wrapper-5 {
  -webkit-text-stroke: 1px #0000001a;
  color: var(--text);
  font-family: "Nunito-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: -1px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: absolute;
  top: -1px;
}

.informativos .table-heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 176px;
  padding: 0px 30px;
  position: absolute;
  top: 119px;
  width: 1186px;
}

.informativos .div-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.informativos .text-wrapper-6 {
  color: var(--text);
  font-family: "Nunito-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  opacity: 0.7;
  position: relative;
  width: fit-content;
}

.informativos .arrow-down {
  height: 5px;
  position: relative;
  width: 4.41px;
}

.informativos .email {
  align-items: center;
  display: flex;
  gap: 7px;
  position: relative;
  width: 47px;
}

.informativos .text-wrapper-7 {
  color: var(--text);
  font-family: "Nunito-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -7px;
  margin-top: -1px;
  opacity: 0.7;
  position: relative;
  width: 54px;
}

.informativos .arrow-down-2 {
  height: 5px;
  margin-right: -18.02px;
  position: relative;
  width: 4.02px;
}

.informativos .arrow-down-3 {
  height: 5px;
  position: relative;
  width: 6.09px;
}

.informativos .barra-letal {
  background-color: #ffffff;
  height: 900px;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 80px;
}

.informativos .overlap {
  height: 1206px;
  left: 0;
  position: absolute;
  top: 78px;
  width: 80px;
}

.informativos .menu {
  height: 1206px;
  left: 19px;
  position: absolute;
  top: 0;
  width: 45px;
}

.informativos .menu-name {
  height: 1206px;
  position: relative;
}

.informativos .log-out {
  align-items: center;
  display: inline-flex;
  gap: 18px;
  height: 55px;
  left: 0;
  position: absolute;
  top: 1151px;
}

.informativos .profile-photo {
  background-color: #f7f7f8;
  border-radius: 12px;
  height: 43px;
  position: relative;
  width: 45px;
}

.informativos .group-wrapper {
  background-color: #f7f7f8;
  border-radius: 12px;
  height: 43px;
}

.informativos .group {
  height: 8px;
  left: 18px;
  position: relative;
  top: 17px;
  width: 9px;
}

.informativos .camera-wrapper {
  height: 8px;
  opacity: 0.7;
  position: relative;
}

.informativos .camera {
  height: 8px;
  left: 5800px;
  position: absolute;
  top: -7041px;
  width: 9px;
}

.informativos .icones {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  height: 1003px;
  justify-content: space-between;
  left: 9px;
  position: absolute;
  top: 82px;
}

.informativos .dashboard {
  flex: 0 0 auto;
  position: relative;
}

.informativos .div-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 14px;
  position: relative;
}

.informativos .div-wrapper {
  height: 24px;
  opacity: 0.4;
  position: relative;
  width: 24px;
}

.informativos .chart {
  background-image: url(./chart.svg);
  background-size: 100% 100%;
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 20px;
}

.informativos .img-2 {
  height: 24px;
  object-fit: cover;
  position: relative;
  width: 24px;
}

.informativos .document {
  background-image: url(./document.svg);
  background-size: 100% 100%;
  height: 20px;
  left: 3px;
  position: relative;
  top: 2px;
  width: 18px;
}

.informativos .calendar {
  background-image: url(./calendar.svg);
  background-size: 100% 100%;
  height: 20px;
  left: 3px;
  position: relative;
  top: 2px;
  width: 18px;
}

.informativos .code-bluish-gray {
  height: 24px;
  margin-right: -5791px;
  margin-top: -6733.05px;
  object-fit: cover;
  position: relative;
  width: 24px;
}

.informativos .chatbot {
  height: 24px;
  margin-right: -5791px;
  margin-top: -6787.67px;
  object-fit: cover;
  position: relative;
  width: 24px;
}

.informativos .user-bluish-gray {
  height: 24px;
  margin-right: -5791px;
  margin-top: -6842.28px;
  object-fit: cover;
  position: relative;
  width: 24px;
}

.informativos .ajuda {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.informativos .question {
  height: 24px;
  margin-right: -5791px;
  margin-top: -6896.9px;
  object-fit: cover;
  position: relative;
  width: 24px;
}

.informativos .setting {
  height: 20px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 19px;
}

.informativos .setting-2 {
  height: 20px;
  left: 5791px;
  position: absolute;
  top: -6952px;
  width: 19px;
}

.informativos .down-bluish-gray {
  height: 46px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 36px;
}

.informativos .ellipse {
  background-color: var(--red);
  border-radius: 2.5px;
  height: 5px;
  left: 55px;
  opacity: 0.5;
  position: absolute;
  top: 249px;
  width: 5px;
}

.informativos .rectangle {
  background: linear-gradient(180deg, rgb(52, 211, 163) 0%, rgba(52, 211, 163, 0) 100%);
  border-radius: 0px 5px 5px 0px;
  height: 48px;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 65px;
  width: 80px;
}

.informativos .image {
  height: 65px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 56px;
}
